<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBP34z0oKVvRbcvpY8kqFINC-Y959DUfos</string>
	<key>GCM_SENDER_ID</key>
	<string>690442619232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jun0302.mycalendar</string>
	<key>PROJECT_ID</key>
	<string>calendar-e4458</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-e4458.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690442619232:ios:83593d8dc799b9315ab605</string>
</dict>
</plist>